@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mingzat&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
.top-fixed {
  top: 3rem;
  left: 3rem;
  position: fixed;
  font-family: 'Finlandica';
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  img {
    z-index: 9999999;
    width: 20px;
  }
}

.work__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  .left {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 60%;
    }
  }
  .right {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .card {
      background: url('../assets/charlesdeluvio-jtmwD4i4v1U-unsplash.jpg');
      background-size: cover;
      height: 280px;

      box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.751);
      width: 60%;
      position: relative;
      .card__content {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2rem 2rem;
        color: white;
        font-family: 'Finlandica';
        .card__image {
          img {
            width: 60px;
          }
        }
        .card__details {
          p {
            margin: 10px 10px;
          }
        }
      }
    }
  }
}

.next {
  position: fixed;
  bottom: 3rem;
  z-index: 9999;
  right: 3rem;
  img {
    width: 20px;
  }
}
